.shiny-text {
  color: #ffffffa4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgb(0, 238, 255) 40%,
    rgb(0, 247, 255) 50%,
    rgba(0, 238, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

/*-------------------------------------------------------------------------------------*/
/*
	Installed from https://reactbits.dev/ts/default/
*/
.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden; 
}

.border-gradient-bottom {
  position: absolute;
  width: 150%;     
  height: 8px;    
  opacity: 0.7;
  bottom: -4px;    
  right: -75%;   
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 150%;     
  height: 8px;   
  top: -4px;     
  left: -75%;     
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  border: 1px solid #b6b6b6;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%); 
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

/* ----------------------------------------------------------------------------------- */
.card-spotlight {
  position: relative;
  border-radius: 2rem;
  border: 1px solid #222;
  background-color: #111;
  padding: 1rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
